.form-wrapper {
    display: flex;

}

.side-image {
}

.side-image > img {
    width: 500px;
}

.side-form {
    background-color: cornflowerblue;
    box-sizing: border-box;
    
}

#form-header {
    margin: 20px;
}

#existing-account {
    margin: 20px;
}

.form-background {
    background-color:aliceblue;
}

.form-background > * {
    padding: 10px;
}

button {
    margin: 10px;
}